<div class="container">
  <div class="text-center">
    <h1 class="mt-3">Cotizador de Servicios de Soporte de TI</h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <h5>1. Tipo de Servicio</h5>
      <!-- <div *ngFor="let atencion of tipoAtencion" class="form-check">
        <input class="form-check-input" type="radio" name="tipoAtencion" id="{{atencion.codigo}}" value="atencion.codigo">
        <label class="form-check-label" [for]="atencion.codigo">
          {{atencion.nombre}}
        </label>
      </div> -->
      <div *ngFor="let servicio of tipoServicio" class="form-check">
        <input class="form-check-input" type="radio" name="tipoServicio" [id]="'radio-' + servicio.codigo" value="Tipo1" (change)="onRadioChangeTipServicio(servicio)">
        <label class="form-check-label" [for]="'radio-' + servicio.codigo">
          {{servicio.descripcion}}
        </label>
      </div>

      <h5 class="mt-3">2. Horario del Servicio</h5>
      <div *ngFor="let horario of horarioAtencion" class="form-check">
        <input class="form-check-input" type="radio" name="horarioServicio" [id]="'radio2-' + horario.codigo" [value]="horario.codigo"
               (change)="onRadioChangeHorarioAtencion(horario)">
        <label class="form-check-label" [for]="'radio2-' + horario.codigo">
          {{horario.descripcion}}
        </label>
      </div>

      <h5 class="mt-3">3. Actividades específicas</h5>
      <div *ngFor="let actividad of actividades" class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'check-' + actividad.codigo" value="actividad.codigo" [(ngModel)]="actividad.selected"
               (click)="onCheckboxActividades(actividad)">
        <label class="form-check-label" [for]="'check-' + actividad.codigo">
          {{actividad.descripcion}}
        </label>
      </div>
    </div>
    <div class="col-md-4">

      <h5 class="mt-3">5. Cantidad de Equipos</h5>
      <div class="col-md-10">
        <input placeholder="Ejm:100" class="form-control" type="number" id="cantidadUsuarios" name="cantidadUsuarios" min="0"
               [(ngModel)]="numEquipos">
      </div>

      <h5 class="mt-3">5. Tipos de Equipos</h5>
      <div *ngFor="let equipo of tipoEquipos" class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'check2-' + equipo.codigo" [value]="equipo.codigo" [(ngModel)]="equipo.selected"
               (click)="onCheckboxEquipos(equipo)">
        <label class="form-check-label" [for]="'check2-' + equipo.codigo">
          {{equipo.descripcion}}
        </label>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <button (click)="cotizacion()" type="button" class="btn btn-primary">COTIZAR</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary">LIMPIAR</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mt-3">
      <div class="css-grid-table" style="text-align: center;">
        <div class="css-grid-table-header" style="border-bottom: 1px solid;">
          <div class="css-left">Detalle</div>
          <div class="css-right">Cantidad</div>
          <div class="css-right">Total $</div>
        </div>
        <div class="css-grid-table-body">
          <div class="css-left">Cantidad de Equipos</div>
          <div class="css-right">{{numEquipos}}</div>
          <div class="css-right">{{sumaActivEquip}}</div>

          <div class="css-left">Costo por Actividades Específicas</div>
          <div class="css-right">{{cantidadActividades}}</div>
          <div class="css-right">{{precioTotalActividades}}</div>

          <div class="css-left">Costo por Servicio</div>
          <div class="css-right"> </div>
          <div class="css-right">{{tipServicioSeleccionado}}</div>

          <div class="css-left">Costo por Horario</div>
          <div class="css-right"> </div>
          <div class="css-right">{{costoPorHorario}}</div>

          <div class="css-left">Costo por Tipo de Equipos</div>
          <div class="css-right">{{cantidadEquipo}}</div>
          <div class="css-right">{{precioTotalEquipos}}</div>

          <div class="css-left"> </div>
          <div class="css-right">Total $</div>
          <div class="css-right css-total">{{neto}}</div>

          <div class="col-md-3">

          </div>
          <div class="col-md-3">
            <a class="btn btn-link" [routerLink]="['/main']" role="button">RETORNAR</a>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success">GRABAR</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
