<div class="container">
  <div class="text-center">
    <h1 class="mt-5">Bienvenido a Nuestro Cotizador de Servicios</h1>
    <p class="custom-paragraph mt-4">Te ayudamos a llevar a cabo proyectos de tecnología de manera </p>
    <p class="custom-paragraph">más eficiente. Inicia tu cotización ahora y descubre como podemos </p>
    <p class="custom-paragraph">hacer que tus proyectos sean más accesibles.</p>
  </div>

  <div class="row mt-3">
    <div class="col-md-4 text-center">
      <a [routerLink]="['/helpdesk']">
        <img src="/assets/helpdesk.png" alt="Imagen 1">
      </a>
      <h1>Helpdesk</h1>
      <p class="custom-paragraph">¿Necesitas soporte técnico rápido</p>
      <p class="custom-paragraph">y eficiente? Nuestro servicio de</p>
      <p class="custom-paragraph">helpdesk está diseñado para</p>
      <p class="custom-paragraph">responder a tus preguntas y</p>
      <p class="custom-paragraph">resolver tus problemas de manera</p>
      <p class="custom-paragraph">oportuna. Obtén una cotización en</p>
      <p class="custom-paragraph">segundos.</p>
    </div>

    <div class="col-md-4 text-center">
      <a href="URL2">
        <img src="/assets/outsourcing.png" alt="Imagen 2">
      </a>
      <h1>Outsourcing</h1>
      <p class="custom-paragraph">Externaliza tus necesidades</p>
      <p class="custom-paragraph">tecnológicas con nuestro servicio de</p>
      <p class="custom-paragraph">outsourcing. Ya sea desarrollo de</p>
      <p class="custom-paragraph">software, mantenimiento de sistemas</p>
      <p class="custom-paragraph">o más, estamos aquí para ayudarte.</p>
      <p class="custom-paragraph">Descubre cómo podemos ser tu socio</p>
      <p class="custom-paragraph">tecnológico.</p>
    </div>

    <div class="col-md-4 text-center">
      <a href="">
        <img src="/assets/soporte.png" alt="Imagen 3">
      </a>

      <h1>Soporte TI</h1>
      <p class="custom-paragraph">Mantén tu infraestructura</p>
      <p class="custom-paragraph">tecnológica en óptimas condiciones</p>
      <p class="custom-paragraph">con nuestro servicio de soporte TI.</p>
      <p class="custom-paragraph">Brindamos asistencia experta para</p>
      <p class="custom-paragraph">el hardware y software bajo</p>
      <p class="custom-paragraph">contrato. Comienza tu cotización</p>
      <p class="custom-paragraph">ahora.</p>
    </div>
  </div>
</div>
