<div class="container">
  <div class="text-center">
    <h1 class="mt-3">Cotizador de Servicios Helpdesk</h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <h5>1. Tipo de Atencion</h5>
      <div *ngFor="let atencion of tipoAtencion" class="form-check">
        <input class="form-check-input" type="radio" name="tipoAtencion" id="{{atencion.codigo}}" value="atencion.codigo">
        <label class="form-check-label" [for]="atencion.codigo">
          {{atencion.nombre}}
        </label>
      </div>

      <h5 class="mt-3">2. Duración del Servicio</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio3" value="Opción A">
        <label class="form-check-label" for="radio3">
          1 año
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio4" value="Opción B">
        <label class="form-check-label" for="radio4">
          2 años
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio5" value="Opción B">
        <label class="form-check-label" for="radio4">
          3 años a más
        </label>
      </div>

      <h5 class="mt-3">3. Características Requeridas</h5>
      <div *ngFor="let requerimiento of requerimientos" class="form-check">
        <input class="form-check-input" type="checkbox" id="{{requerimiento.codigo}}" value="requerimiento.codigo">
        <label class="form-check-label" [for]="requerimiento.codigo">
          {{requerimiento.descripcion}}
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <h5 >4. Canales de Atención</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox24" value="Característica 1">
        <label class="form-check-label" for="checkbox1">
          Canal Telefónico
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox21" value="Característica 2">
        <label class="form-check-label" for="checkbox2">
          Chat en Vivo
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox22" value="Característica 2">
        <label class="form-check-label" for="checkbox2">
          Redes Sociales
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox23" value="Característica 2">
        <label class="form-check-label" for="checkbox2">
          Correo Electrónico
        </label>
      </div>

      <h5 class="mt-3">5. Horario de Atención</h5>
      <h6>Días:</h6>
      <div class="row">
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox7" value="Lu">
            <label class="form-check-label" for="checkbox5">
              Lu
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox8" value="Ma">
            <label class="form-check-label" for="checkbox6">
              Ma
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox9" value="Mi">
            <label class="form-check-label" for="checkbox7">
              Mi
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox10" value="Ju">
            <label class="form-check-label" for="checkbox8">
              Ju
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox11" value="Vi">
            <label class="form-check-label" for="checkbox9">
              Vi
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox30" value="Sa">
            <label class="form-check-label" for="checkbox10">
              Sa
            </label>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkbox13" value="Do">
              <label class="form-check-label" for="checkbox11">
                Do
              </label>
            </div>
            <!-- Agrega más días aquí si es necesario -->
          </div>
        </div>
        <div class="row mt-3">

            <label class="form-check-label col-md-6">
              Inicio de Jornada:
            </label>
            <div class="col-md-5">
              <input class="form-control" type="time" id="inijornada" name="inijornada">
            </div>

        </div>

        <div class="row mt-3">

          <label class="form-check-label col-md-6">
            Fin de Jornada:
          </label>
          <div class="col-md-5">
            <input class="form-control" type="time" id="finjornada" name="finjornada">
          </div>

        </div>
      </div>

      <h5 class="mt-3">6. Cantidad de Usuarios</h5>
      <div class="col-md-10">
        <input placeholder="Ejm:100" class="form-control" type="number" id="cantidadUsuarios" name="cantidadUsuarios" min="0">
      </div>
    </div>

    <div class="col-md-4">
      <h5>7. Tipo de Servicio</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tipoServicio" id="rdTipo1" value="Tipo1">
        <label class="form-check-label" for="radio1">
          Personal Híbrido
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tipoServicio" id="checkbox19" value="Tipo 2">
        <label class="form-check-label" for="checkbox8">
          Personal Remoto
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tipoServicio" id="checkbox20" value="Tipo 2">
        <label class="form-check-label" for="checkbox8">
          Personal Presencial
        </label>
      </div>
      <!-- Agrega más tipos de servicio aquí si es necesario -->

      <div class="row mt-3">
        <div class="col-md-3">
          <button type="button" class="btn btn-primary">COTIZAR</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary">LIMPIAR</button>
        </div>
      </div>
      <hr>
      <div class="row mt-3">
      <div class="css-grid-table" style="text-align: center;">
        <div class="css-grid-table-header" style="border-bottom: 1px solid;">
          <div class="css-left">Detalle</div>
          <div class="css-right">Cantidad</div>
          <div class="css-right">Total $</div>
        </div>
        <div class="css-grid-table-body">
          <div class="css-left">Cantidad de Analistas</div>
          <div class="css-right">5</div>
          <div class="css-right">500</div>

          <div class="css-left">Tipo de Soporte</div>
          <div class="css-right"> </div>
          <div class="css-right">1</div>

          <div class="css-left">Caracteristicas Requeridas</div>
          <div class="css-right"> </div>
          <div class="css-right">2</div>

          <div class="css-left">Canales de Atencion</div>
          <div class="css-right"> </div>
          <div class="css-right">2</div>

          <div class="css-left">Horario de Atencion</div>
          <div class="css-right"> </div>
          <div class="css-right">15</div>

          <div class="css-left">Tipo de Servicio</div>
          <div class="css-right"> </div>
          <div class="css-right">14</div>

          <div class="css-left"> </div>
          <div class="css-right">Total $</div>
          <div class="css-right css-total">10780</div>

          <div class="css-left"> </div>
          <div class="css-right">Costo por año $</div>
          <div class="css-right css-total">10780</div>

          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success">GRABAR</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
