<div class="container">
  <div class="text-center">
    <h1 class="mt-3">Cotizador de Servicios Helpdesk</h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <h5>1. Tipo de Atencion</h5>
      <div *ngFor="let atencion of tipoAtencion" class="form-check">
        <input class="form-check-input" type="radio" name="tipoAtencion" [id]="'radio-' + atencion.codigo" [value]="atencion.codigo"
               (change)="onRadioChangeAtencion(atencion)">
        <label class="form-check-label" [for]="'radio-' + atencion.codigo">
          {{atencion.nombre}}
        </label>
      </div>

      <h5 class="mt-3">2. Duración del Servicio</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio3" value="12" (change)="onRadioChangeAno($event)">
        <label class="form-check-label" for="radio3">
          1 año
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio4" value="24" (change)="onRadioChangeAno($event)">
        <label class="form-check-label" for="radio4">
          2 años
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="duracionServicio" id="radio5" value="36" (change)="onRadioChangeAno($event)">
        <label class="form-check-label" for="radio4">
          3 años a más
        </label>
      </div>

      <h5 class="mt-3">3. Características Requeridas</h5>
      <div *ngFor="let requerimiento of requerimientos" class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'checkbox-'+ requerimiento.codigo" [value]="requerimiento.codigo" [(ngModel)]="requerimiento.selected"
                (click)="onCheckboxRequerimiento(requerimiento)">
        <label class="form-check-label" [for]="'checkbox-'+ requerimiento.codigo">
          {{requerimiento.descripcion}}
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <h5 >4. Canales de Atención</h5>
      <div *ngFor="let canal of canales" class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'checkbox1-'+ canal.codigo" value="canal.codigo" [(ngModel)]="canal.selected"
               (click)="onCheckboxCanal(canal)">
        <label class="form-check-label" [for]="'checkbox1-' + canal.codigo">
          {{canal.descripcion}}
        </label>
      </div>

      <h5 class="mt-3">5. Horario de Atención</h5>
      <h6>Días:</h6>
      <div class="row">
        <div class="col-md-4" *ngFor="let dia of dias">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="'checkbox2-' + dia.codigo" value="dia.codigo" [(ngModel)]="dia.selected">
            <label class="form-check-label" [for]="'checkbox2-' + dia.codigo">
              {{dia.abreviatura}}
            </label>
          </div>
        </div>
        <div class="row mt-3">

            <label class="form-check-label col-md-6">
              Inicio de Jornada:
            </label>
            <div class="col-md-5">
              <input class="form-control" type="time" id="inijornada" name="inijornada" [(ngModel)]="horaInicioJornada">
            </div>

        </div>

        <div class="row mt-3">

          <label class="form-check-label col-md-6">
            Fin de Jornada:
          </label>
          <div class="col-md-5">
            <input class="form-control" type="time" id="finjornada" name="finjornada" [(ngModel)]="horaFinJornada">
          </div>

        </div>
      </div>

      <h5 class="mt-3">6. Cantidad de Usuarios</h5>
      <div class="col-md-10">
        <input placeholder="Ejm:100" class="form-control" type="number" id="cantidadUsuarios" name="cantidadUsuarios" min="0"
               [(ngModel)]="numUsuarios">
      </div>
    </div>

    <div class="col-md-4">
      <h5>7. Tipo de Servicio</h5>
      <div *ngFor="let servicio of servicios" class="form-check">
        <input class="form-check-input" type="radio" name="servicios" [id]="'radio2-' + servicio.codigo" [value]="servicio.codigo"
               (change)="onRadioChangeServicio(servicio)">
        <label class="form-check-label" [for]="'radio2-' + servicio.codigo">
          {{servicio.descripcion}}
        </label>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <button (click)="cotizaciones()" type="button" class="btn btn-primary">COTIZAR</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary">LIMPIAR</button>
        </div>
      </div>
      <hr>
      <div class="row mt-3">
      <div class="css-grid-table" style="text-align: center;">
        <div class="css-grid-table-header" style="border-bottom: 1px solid;">
          <div class="css-left">Detalle</div>
          <div class="css-right">Cantidad</div>
          <div class="css-right">Total $</div>
        </div>
        <div class="css-grid-table-body">
          <div class="css-left">Cantidad de Analistas(Incluye CR)</div>
          <div class="css-right">{{cantidadAnalista}}</div>
          <div class="css-right">{{precioXAnalista}}</div>

          <div class="css-left">Tipo de Soporte</div>
          <div class="css-right"> </div>
          <div class="css-right">{{AtencionSeleccionado}}</div>

          <div class="css-left">Caracteristicas Requeridas</div>
          <div class="css-right"> {{cantidadSelecReq}}</div>
          <div class="css-right">{{totalRequerimientos}}</div>

          <div class="css-left">Canales de Atencion</div>
          <div class="css-right">{{cantidadSelectCanales}} </div>
          <div class="css-right">{{totalCanales}}</div>

          <div class="css-left">Horario de Atencion(Incluye CA)</div>
          <div class="css-right">{{horaAproximada}} </div>
          <div class="css-right">{{precioJornada}}</div>

          <div class="css-left">Tipo de Servicio(Incluye CA)</div>
          <div class="css-right"> </div>
          <div class="css-right">{{precioServicio}}</div>

          <div class="css-left"> </div>
          <div class="css-right">Total $</div>
          <div class="css-right css-total">{{pagoTotal}}</div>

          <div class="css-left"> </div>
          <div class="css-right">Costo por {{verAnio}} año $ </div>
          <div class="css-right css-total">{{pagoAnios}}</div>

          <div class="col-md-3">

          </div>
          <div class="col-md-3">
            <a class="btn btn-link" [routerLink]="['/main']" role="button">RETORNAR</a>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success">GRABAR</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
